html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.inputBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

input {
    width: 30%;
    height: 46%;
    border: 0;
    padding-left: 10px;
}

.title {
    color: white;
    font-size: 30px;
}

.addButton {
    width: 10%;
    height: 48%;
    border: 0;
}

.clrButton {
    width: 10%;
    height: 48%;
    border: 0;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.item {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.item:nth-child(odd) {
    background-color: rgb(221, 221, 221);
}

.item:nth-child(even) {
    background-color: rgb(198, 198, 198);
}

.item button {
    position: absolute;
    right: 5%;
    border: 0;
    background: none;
    cursor: pointer;
}

.header {
    background-color: red;
    width: 100%;
    height: 20%;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 25px;
}

ul {
    width: 100%;
    height: 80%;
    align-items: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    list-style: none;
    position: absolute;
    padding: 0;
}

.warning {
    background-color: rgba(32, 32, 32, 0.454);
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    background-color: white;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.deleteTitle {
    font-size: 90px;
}

.buttons button {
    width: 20%;
    height: 90%;
    border: 0;
    cursor: pointer;
}

.itemName {
    margin-bottom: 80px;
}

.buttons {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
}

.delete {
    background-color: red;
    color: white;
    margin-left: 10px;
}

.hidden {
    display: none;
}